{% load danemco_tags tree_menu_tags %}
{% comment %}
 Developer Name: Nolan Bradshaw
 Creation Date: 11/28/11
 Modified Date
 Notes:

{% endcomment %}
<!DOCTYPE html  PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN'  'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
        <meta content="{% block keywords %}{% endblock %}" name="keywords" />
        <meta content="{% block description %}{% endblock %}" name="description" />
        <title>Elementary Music Programs | {% block title %}{{flatpage.title}}{% endblock %}</title>

		{# CSS Files #}
		{% block appmedia %}{% endblock appmedia %}
		{% block extrastyles %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="/media/styles/style.css" />
        <link rel="stylesheet" type="text/css" href="/media/styles/override.css" />
        <link rel="stylesheet" type="text/css" href="/media/static/quickcart/quickcart.css" />
        <link rel='stylesheet' type='text/css' href='/media/styles/edits.css'>

		<link rel="icon" type="image/png" href="/media/styles/images/favicon.png" />
        
		{# JavaScript Files #}
        <script type="text/javascript" src="/media/dash/js/jquery.js"></script>
        <script type="text/javascript" src="/media/dash/js/jquery.form.js"></script>
		<script type="text/javascript" src="/media/scripts/jquery.media.js"></script>
		<script type="text/javascript" src="/media/static/quickcart/quickcart.js"></script>
	
		<script type="text/javascript">
		    $(function() {
		        $('a.media').media( { width: 300, height: 24 } );
		    });
		</script>
	        
		<script type="text/javascript">
            {% include 'shop/ajax_add_to_cart.js' %}
        </script>

  		{% block extrascripts %}{% endblock %}
  
	     {# ADDS BLOG RSS #}        
	     {# block bloghead #}{# insert_blog_feeds #}{# endblock #}
	     
	     {% block extrahead %}{% endblock %}
	     {% block extra-head %}{% endblock %}
        
        <!--[if IE]>
            <link rel="stylesheet" type="text/css" href="/media/styles/ie.css" />
        <![endif]-->

    </head>
<body>

<div id="leftCurtain"></div>
<div id="rightCurtain"></div>

<div id="wrapper">

	<div id="header">
    
    	<div id="nav">
	 {% show_menu "topmenu" "unordered-list-named" %}
	<script type ="text/javascript">
$('#nav a[href^="/' + window.location.pathname.split('/')[1] + '/"]').parents('li').addClass('').addClass('opposite')
	</script>
	        <script>
	            $items = $("#menu-topmenu li");
	            var len = $items.length;
	            $items.css("width", (parseInt(100/len)-1.5) + "%");
	        </script>
            <div class="clear"></div>
        </div>
        
        <div id="logo">
        	<a href="/"><img src="/media/styles/images/logo.png" /></a>
        </div>
        
    </div>
    
    <div id="page">
    
    	<div id="sidebar">
        	<div id="sidenav">
            	<h2>208-380-2333</h2><br>
                <div class="divider" style="*margin-left:3px;"></div>
            	<ul>
                	<li><a href="/endorsements/">Testimonials</a></li>
                	 <div class="divider"></div>
                	 <li><a href="/about/">About EMP</a></li>
                	  <div class="divider"></div>
                	 <li><a href="/newsletter/subscribe/">Join Our Newsletter</a></li>
                	 <div class="divider"></div>
                	
                </ul>
            </div>
            <div class="sidefooter"></div>
            <p>
            	<a href="/gallery/2/"><img src="/media/styles/images/gallery.jpg" /></a>
            </p>
            <p>
            	<a href="/shop/"><img src="/media/styles/images/orderNow.gif" /></a>
            </p>
            <p>
            	<a href="https://www.facebook.com/pages/Elementary-Music-Programs/326526880735698" target="_blank"><img src="/media/styles/images/facebook.jpg" /></a>
            </p>
        </div>
        
        <div id="content" class="content">
	<h1>{% block pagetitle %}{{flatpage.title}}{% endblock pagetitle %}</h1>
		{% include "snippets/messages.html" %}
        {% block content %}
        {% endblock content %}
        </div>
        <div class="clear"></div>
        
    </div>
    
    <div id="footer">
    	&copy; Copyright {% now "Y" %} Elementary Music Programs. All Rights Reserved.
    </div>
    
</div>

</body>
</html>
