{% extends 'base.html' %}

{% load danemco_tags thumbnail satchmo_util satchmo_category i18n %}

{% block extrastyles %}
{% endblock extrastyles %}

{% block extrascripts %}
{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
        function playSound(el,soundfile) {
            var embed = document.getElementById("embed");
            if (!embed) {
                var embed = document.createElement("embed");
                embed.id= "embed";
                embed.setAttribute("src", soundfile);
                embed.setAttribute("hidden", "true");
                el.appendChild(embed);
            } else {
                embed.parentNode.removeChild(embed);
            }
        }
    </script>
{% endblock %}

{% block extra-head %}
{% endblock %}

{% block content %}
    <div id="category_list">
        {% category_list as categories %}{% endcategory_list %}
        {% for parent_category in categories  %} 
            <div class="categorylist">    
                {% if parent_category.main_image %}
                    {% thumbnail parent_category.main_image.picture 200x190 as image %}
                    <a href="{{ parent_category.get_absolute_url }}"><img src="{{ image }}" alt="" width="{{ image.width }}" height="{{ image.height }}" /></a>
                {% endif %}     
                <p><a href="{{ parent_category.get_absolute_url }}">{{ parent_category.translated_name }}</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
