<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Elementary Music Programs</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>

<div id="leftCurtain"></div>
<div id="rightCurtain"></div>

<div id="wrapper">

	<div id="header">
    
    	<div id="nav">
        	<ul>
            	<li><a href="">Home</a></li>
                <li><a href="">About EMP</a></li>
                <li id="opposite"><a href="">Order Now</a></li>
                <li><a href="">Endorsements</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Newsletter</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        
        <div id="logo">
        	<a href="/"><img src="images/logo.png" /></a>
        </div>
        
    </div>
    
    <div id="page">
    
    	<div id="sidebar">
        	<div id="sidenav">
            	<h2>Samples</h2>
                <div class="divider" style="*margin-left:3px;"></div>
            	<ul>
                	<li><a href="">Vocals</a></li>
                    <div class="divider"></div>
                    <li><a href="">Performance Clips</a></li>
                    <div class="divider"></div>
                    <li><a href="">Teaching Aide Clips</a></li>
                </ul>
            </div>
            <div class="sidefooter"></div>
            <p>
            	<a href=""><img src="images/gallery.jpg" /></a>
            </p>
            <p>
            	<a href=""><img src="images/orderNow.gif" /></a>
            </p>
        </div>
        
        <div id="content" class="content">
        	<h1>Title Here</h1>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at convallis quam. Cras in turpis sem. Nulla porta leo blandit nibh scelerisque eu ornare ligula eleifend. Integer adipiscing convallis purus vitae convallis. In hac habitasse platea dictumst. Quisque volutpat tellus eu ipsum tristique accumsan. Vestibulum consequat aliquam nisi, viverra tempor eros semper vel. Vestibulum congue nulla ut est scelerisque in bibendum mi pharetra. Vivamus nec dignissim purus. Morbi non risus quis justo ullamcorper consequat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut sed nisl et sem dapibus tempor nec vitae purus. Morbi ac mauris nulla. Nam non enim ut enim porta aliquet sed id nulla. Duis non mattis libero. In iaculis dolor sit amet risus dapibus convallis.</p>
<p>
In ultrices tempor neque quis mollis. Donec volutpat ullamcorper sapien, ac congue arcu vehicula in. Ut iaculis dapibus nisi, vitae tincidunt justo condimentum eget. Nam suscipit sagittis augue, varius placerat metus aliquet in. Aenean egestas, lorem a tempor rutrum, quam erat aliquet lacus, sit amet volutpat ligula eros accumsan elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse nisl ipsum, auctor at sollicitudin nec, interdum id elit. </p>
        </div>
        <div class="clear"></div>
        
    </div>
    
    <div id="footer">
    	&copy; Copyright Elementary Music Programs. All Rights Reserved.
    </div>
    
</div>

</body>
</html>
